{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Login{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <div>
        <input type="checkbox" id="remember_me" name="remember_me">
        <label for="remember_me">Remember me</label>
    </div>
    <input type="submit" value="Login">
  </form>
{% endblock %}
